.backGround{
    background-image: url('backGround.jpeg');
    background-size: cover;
}

.indexHeading{
    color: aliceblue;
}

#welcome{
    color: aliceblue;
    text-align: center;
    border: 3px solid powderblue;
}

#bottomNav{
    background-color: aliceblue;
    border: 2px solid powderblue;
}